<h1>Error</h1>

    {{#if is404}}
        <p class='meal-not-found'>{{error}}</p>
    {{else if is400}}
        <p class='error'>{{error}}</p>
    {{else if is500}}
        <p class='system-error'>{{error}}</p>
    {{/if}}


<a href="/" class="returnLink">Search for Another Meal</a><br>