<div class="home-page">
  <div class="home-hero">
    <h1>{{searchType}} Results for "{{query}}"</h1>
    <a href="/api/admin/dashboard" class="secondary-btn"> Back to God View</a>
  </div>

  <section class="home-info-panel" style="margin-top: 2rem;">
    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr style="border-bottom: 2px solid var(--green-main);">
          {{#if isRestaurantSearch}}<th>Name</th><th>CAMIS</th>{{/if}}
          {{#if isReviewSearch}}<th>Comment</th><th>User</th>{{/if}}
          {{#if isPostSearch}}<th>Business</th><th>Content</th>{{/if}}
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr style="border-bottom: 1px solid #eee;">
          {{#if ../isRestaurantSearch}}
            <td>{{this.name}}</td><td><code>{{this.camis}}</code></td>
            <td><form action="/api/admin/restaurants/{{this.camis}}?_method=DELETE" method="POST"><button type="submit">Delete</button></form></td>
          {{/if}}
          
          {{#if ../isReviewSearch}}
            <td>"{{this.comment}}"</td><td>{{this.userId}}</td>
            <td>
              <form action="/api/admin/reviews/{{this._id}}?_method=DELETE" method="POST">
                <input type="hidden" name="returnUrl" value="/api/admin/search/reviews?query={{../query}}">
                <button type="submit">Remove</button>
              </form>
            </td>
          {{/if}}

          {{#if ../isPostSearch}}
            <td>{{this.businessName}}</td><td>{{this.content}}</td>
            <td>
              <form action="/api/admin/posts/{{this._id}}?_method=DELETE" method="POST">
                <input type="hidden" name="returnUrl" value="/api/admin/search/posts?query={{../query}}">
                <button type="submit">Remove</button>
              </form>
            </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>